@charset "utf-8";
body {
    font-family: Arial;
    font-size: 13px;
}
li{font-size: 13px;}
textarea{widows: 100%;}
#carousel td{vertical-align: middle;}
#sidebar .disabled {color: #2763A2;}
.errorMessage{
    border:1px solid #AC5848;
    padding: 15px;    
    color: #B33A3A;
    background-color: #F7C7B3;
    -moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */
}
.successMessage{
    border:1px solid #477F01;
    padding: 15px;    
    color: #363A37;
    background-color: #66C46B;
    -moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */
}
.noticeMessage{
    border:1px solid #88E4DB;
    padding: 15px;    
    color: #363A37;
    background-color: #B4F5EF;
    -moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */
}